[language-server.omnisharp]
timeout = 60

[language-server.vscode-json-language-server.config]
allowComments = true

[language-server.helix-gpt]
command = "helix-gpt"
environment = { "HANDLER"="copilot" }

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[language-server.typos]
command = "typos-lsp"

[language-server.harper]
command = "harper-ls"
args = ["--stdio"]

[language-server.csharp-ls]
command = "csharp-ls"
timeout = 60

[language-server.roslyn-ls]
command = "Microsoft.CodeAnalysis.LanguageServer"
args = ["--stdio", "--logLevel=Information", "--extensionLogDirectory=/tmp"]
timeout = 60

[language-server.harper.config.harper-ls.linters]
SpellCheck = true
SentenceCapitalization = true

[language-server.csharp-language-server]
command = "csharp-language-server"

[[language]]
name = "c-sharp"
auto-format = true
formatter = { command = "csharpier", args=["format"] }
language-servers = [ "csharp-ls", "typos", "helix-gpt"]

[[language]]
name = "markdown"
language-servers = ["harper", "helix-gpt"]

[[language]]
name = "nix"
auto-format = true
language-servers = [ "nixd", "typos", "helix-gpt"]
